/* main */
* {margin: 0; padding: 0;}
body{font: "돋움체",dotum,"굴림체",gulim; background-color:rgb(21, 19, 24);}
a{text-decoration: none; color:#eee;}
li{list-style: none;}
img{border:none;}
.cf:after {content:""; clear:both; display:block; }
.wrap{width:1200px; margin: 0 auto;}


/* header */
#header {width:100%; height:100px; text-align: center; background: rgb(21, 19, 24);}
#header .logo {width:300px; height: 100px; float:left; }
#header .nav {float:right; margin-top: 40px; width:600px;}
#header .nav > ul > li {float:left; width:25%; position:relative; }
#header .nav > ul > li > a {font-weight: bold; }
#header .nav a {font-size:16px; display: block; }
#header .nav li {height:40px; line-height: 40px;}
#header .submenu {width: 100%; height:120px; position:absolute; top:40px; right:0; display: none; background: rgb(21, 19, 24); z-index:2000;}
#header .nav > ul > li:hover > a{ background: rgb(21, 19, 24);; color:#fff;}
#header .submenu > li:hover { background: rgb(21, 19, 24);; }
#header .submenu > li:hover > a{color: #fff; font-weight: bold;}

    
/* slide */
#slide {width:1200px; height:700px; margin: 0 auto; overflow: hidden; margin-bottom: 170px;margin-top: 30px; }
#slide .slide-cont {position: relative; width:1200px; height:700px;}
#slide .slide-cont img {display: block; width:1200px; height: 700px;}


/* contents */
#contents {width:1200px; height:2800px; margin: 0 auto;}
#contents > div {text-align: center;}
#contents h3 {font-size:17px; margin:10px; padding: 7px; border-top: 1px solid #333; border-bottom: 1px solid #999; background: #eee;}
#contents h3 span {font-size: 14px; }
#contents span {text-align: center;}
#contents a:hover {color:#fff;}

/* cont1 */
.cont1 {width:100%; height:1000px; }
.cont1 ul {margin:15px 10px 0 10px;}
.cont1 ul li {float: left; width:50%; text-align: center;}
.cont1 ul li img {width:356px; }
.cont1 ul li img:hover {opacity: 0.6;}
.cont1 h3 {text-align: center;}

/* cont2 */
.cont2 {width:100%; height:1000px; box-sizing: border-box; }
.cont2 ul {margin:15px 10px 0 10px;}
.cont2 ul li {float: left; width:33.3%; text-align: center;}
.cont2 ul li img {width:356px; }
.cont2 ul li img:hover {opacity: 0.6;}
.cont2 h3 {text-align: center;}
 
/* cont3 */
.cont3 {width:100%; height:800px; box-sizing: border-box; }
.cont3 ul {margin:15px 10px 0 10px;}
.cont3 ul li {float: left; width:33.3%; text-align: center;}
.cont3 ul li img {width:250px; }
.cont3 ul li img:hover {opacity: 0.6;}
.cont3 h3 {text-align: center;}
/* footer */

#footer .wrap > div {text-align: center; }
#footer a {font-size:13px; font-weight: bold; color:rgb(121, 121, 121);}

/* testimg */
#testImg{
    position : relative;
    margin-left: auto;
    margin-right: auto;
  }
/* btn */
button.btn1 {
    position: absolute;
    top: 300px;
    left :130px; 
    border-radius: 5px;
    border-radius: 10%;
    color: pink;
    border-color: white;
    background-color: #000;
  }
  button.btn2 {
    position: absolute;
    top: 300px;
    left :130px; 
    border-radius: 5px;
    border-radius: 10%;
    color: black;
    border-color: white;
    background-color: #e9dcca;
   
  }
  button.btn3 {
    position: absolute;
    top: 300px;
    left :140px; 
    border-radius: 5px;
    color: pink;
    border-color: white;
    background-color: #000;
border-radius: 10%;
  }

  #tb{
    display: flex;
    margin-right: 14px;
  }