* {
    color: white;
    
}


.viewTitle {
    margin: 0 auto;
    
    font-size: 26px;
    font-weight: bold;
    
}

.viewInfo {
    margin-top: 10px;
    margin-left: 350px;
    width: 40%;
    box-sizing: border-box;
    font-size: 18px;

    
    padding-top: 2px;
    padding-bottom: 2px;
}

.viewName {
    text-align: center;
    margin-left: 440px;
    font-size: 20px;
    font-style: bold;
}

.viewTime {
    text-align: right;
}

div.viewStory {
    margin: 0 auto;
    
}

.viewStory img {
    margin-top: 20px;
    width: 80%;
}

.viewBtn {
    display: flex;
    width: 50%;
    margin-top: 20px;
    margin-left: 350px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}



.viewBtn a:link {
    color: #eee;
}

.viewBtn a:hover {
    color: white;
}
.nbtn {
    background:black;
    display: flex;
    margin-top: 20px;
    margin-left: 884px;
    cursor: pointer;
    border: solid;
    font-weight: bold;
    font-size: 20px;
    color: white;


    
    
   
}


.viewBtn2 a:link {
    color: #eee;
}

.viewBtn2 a:hover {
    color: white;
}
.viewBtn2 {
    margin-left: 450px;
    width: 50%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
/* .nbtn:link {
    color: #eee;
} */

.nbtn:hover {
    color: white;
}

div.sur{
    text-align: center;
}
#cal{
    margin-left: 60px;
    border:solid;
    border-color:#eee;
    color:white;
    background:black;
}
body{
    width: 100%;
    height: 100%;
    background: url(../images/1174.png)  ;
    position: relative;
  
  }
