* {
    color: black;
    
}

#main{
    width: 100%;
    background: url(../images/88.jpg) no-repeat center cover;
    position: relative;
}
.viewTitle {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 350px;
    width: 40%;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    background-color: #eee;


}

.viewInfo {
    margin-top: 10px;
    margin-left: 350px;
    width: 40%;
    box-sizing: border-box;
    font-size: 18px;

    background-color: #eee;
    padding-top: 2px;
    padding-bottom: 2px;
}

.viewName {
    float: left;
}

.viewTime {
    text-align: right;
}

div.viewStory {
    margin-top: 20px;
    margin-left: 350px;
    width: 40%;
    height: 700px;
    background-color: #eee;
}

.viewStory img {
    margin-top: 20px;
    width: 80%;
}

.viewBtn {
    display: flex;
    width: 50%;
    margin-top: 20px;
    margin-left: 350px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.viewBtn1 {
    margin-right: 180px;

}

.viewBtn a:link {
    color: #eee;
}

.viewBtn a:hover {
    color: white;
}
.nbtn {
    display: flex;
    margin-top: -25px;
    margin-left: 485px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    color: #eee;
    background-color:#2B2B2B ;
}


.viewBtn2 a:link {
    color: #eee;
}

.viewBtn2 a:hover {
    color: white;
}
.viewBtn2 {
    display: flex;
    width: 50%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.nbtn:link {
    color: #eee;
}

.nbtn:hover {
    color: white;
}

div.sur{
    text-align: left;
}
#cal{
    margin-left: 0px;
}

